
{% extends 'base.html' %}

{% block styles %}
<style>
body {
      background-color: #226268;
      /*{% if bg_image %}background-image: url({{ bg_image }});{% endif %}*/
      background-size: cover;

    }

.btn-link {
      color: #50dfec;
      text-shadow: none;
    }
    .btn-link:hover {
      color: #000000;
    }
</style>
{% endblock styles %}


{% block content %}
    <h1>WotChat 2.1</h1>{% csrf_token %}
    <h1>This conversations has {{ r.no_users }} users:</h1>
    <ul id="users">
    {% for user in users %}
        <li>{{user}}</li>
    {% endfor %}
    </ul>

    {# Q1 #}
    {% if 1 in r.do_stages%}
    <h1>Who is the needy one?</h1>
    <h2>Yeee, but how quickly did you respond tho.</h2>
    <p>
        {% for u in r.no_users_iter %}
        <p>The median reaction time for {{r.users.u}} is {{r.UserRTmedian.u}} minutes</p>
        {% endfor %}
    </p>
    <h2>And, if you care about who started first the conversation...</h2>
    <p>
        {% for u in no_r.users_iter %}
        <p>{{r.users.u}} started a conversation {{r.FM_users.u}} % of the times.</p>
        {% endfor %}
    </p>
    <p>
        {% for u in r.no_users_iter %}
        <p>{{r.users.u}} sent {{r.MsgCountUsr.u}} messages and {{r.MediaCountUsr.u}} photos/videos.</p>
        {% endfor %}
    </p>
    {% endif %}

    {# Q2 Cool one#}
    {% if 2 in r.do_stages%}
    <h1>Who is the smart one?</h1>
    {% endif %}

    {# Q3 Who is the smart one [Wordles] #}
    {% if 3 in r.do_stages%}
    <h1>Who is the smart one?</h1>
    {% endif %}


    {# Q4 [Who is the funny one] #}
    {% if 4 in r.do_stages%}
    <h1>Who is the funny one?</h1>
    <p>
    <h2>{{r.JokeCrakers_best.0}}</h2>
    </p>
    <p>
    {{r.JokeCrakers_best.0}} made {{r.JokeCrakers_best.1}} jokes.
    </p>
    {% endif %}

    <div id="share-buttons"; style='float:center; width: 100%'>
        <!-- Twitter -->
    <a href="https://twitter.com/share?url=https://stefanocosentino.com" target="_blank">
        <img src="res/twitter_icon.png" alt="Twitter" />
    </a>
    <a href="http://www.facebook.com/sharer.php?u=https://stefanocosentino.com" target="_blank">
        <img src="res/facebook_icon.png" alt="Facebook" />
    </a>
    <a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://stefanocosentino.com" target="_blank">
        <img src="res/mail_icon.png" alt="Mail" />
    </a>
    <a href="http://reddit.com/submit?url=https://stefanocosentino.com" target="_blank">
        <img src="res/reddit_icon.png" alt="Reddit" />
    </a>
    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
        <img src="res/pinterest_icon.png" alt="Pinterest" />
    </a>

    </div>

{% endblock content %}

